.about{
    width: 100%;
    height: 100vh;
    display: flex;
}

.container1 {
    width: 60%;
    height: 100%;
    padding: 0 3rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation: blur linear;
    animation-timeline: view();
}

@keyframes blur {
    from {
        transform: scale(0.5);
    }
    to {
        transform: scale(1.5);
    }
}


.container1 h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #333;
}

.container1 > p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #666;
    margin-bottom: 40px;
    max-width: 600px;
}

.details {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
    margin-top: 40px;
}

.details div h3 {
    font-size: 1.3rem;
    color: #333;
    margin-bottom: 10px;
}

.details div p {
    font-size: 1rem;
    color: #666;
}

.container2 {
    width: 40%;
    height: 100%;
}

@media screen and (max-width:700px) {
    .container1{
        width: 100%;
    }
    .container2{
        display: none;
    }
}