@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Epilogue:ital,wght@0,100..900;1,100..900&family=Figtree:ital,wght@0,300..900;1,300..900&family=Fira+Code:wght@300..700&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Manrope:wght@200..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

html,
body {
  max-width: 100vw;
  /* overflow-x: hidden; */
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}

body {
  background-color: #d4d4d4;
background-image: url("https://www.transparenttextures.com/patterns/crissxcross.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  animation: gradientMove 45s linear infinite;
  overflow-x: hidden;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@media screen and (max-width:700px) {
  body,html{
    overflow-x: hidden;
  }
}


/* prefer reduced motion */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0s !important;
    transition: none !important;
  }
}


/* scrollbar custom */
body::-webkit-scrollbar {
  width: 8px;
}

/* Track (jalurnya) */
body::-webkit-scrollbar-track {
  background: #e0e0e0;
  background: linear-gradient(to right, #e0e0e0, #cce4ff);
}

/* Handle (batang scroll) */
body::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 0;
  border: none;
  box-shadow: 10px 0 10px 0.5px #000000;
}

/* Saat hover */
body::-webkit-scrollbar-thumb:hover {
  background-color: #333;
  background-color: rgba(0, 0, 0, 0.5);
}