.header{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    position: sticky;
    top: 0;
    z-index: 1000;
    animation: header linear 0.1s;
    animation-timeline: scroll();
}

@keyframes header {
  from {
    background-color: transparent;
  }
  to {
    background-color: #d4d4d4;
    box-shadow: 0 0 10px 0.5px rgba(0, 0, 0, 0.200);
  }
}

.logo{
    color: black;
    text-decoration: none;
}

.nav {
    display: flex;
}

.nav>ul{
    display: flex;
    gap: 2rem;
}

.nav > ul > li > a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: 0.3s ease;
    position: relative;
}

.nav > ul > li > a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #333;
    transform: scaleX(0);
    transform-origin: bottom right; 
    transition: transform 0.3s ease;
}

.nav > ul > li > a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.nav > ul > li > a:hover {
    color: #555;
}


.nav>ul>li {
    list-style-type: none;

}

.burgerMenu{
    display: none;
    font-size: 2rem;
}

@media screen and (max-width:700px) {
    .burgerMenu{
        display: flex;
    }

    .nav{
        position: absolute;
        top: 100px;
        right: 30px;
        width: fit-content;
        box-shadow: 0 0 10px 0.5px rgba(0, 0, 0, 0.226);
        background-color: whitesmoke;
        padding: 2rem;
        border-radius: 10px 0 10px 10px;
        opacity: 0;
        transition: ease-in-out 0.2s;
        transform: translateX(100%);
    }

    .nav>ul{
        display: flex;
        flex-direction: column;
    }

    .show {
        opacity: 1;
        transform: translateX(0);
    }
}