.main {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: row;
}

.main>div:first-child{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main>div:first-child>div{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.main>div:first-child>div>h2{
    font-size: 3rem;
}
.main>div:first-child>div>p:first-child{
    font-size: 2rem;
}
.main>div:first-child>div>p:last-child{
    color: rgba(0, 0, 0, 0.5);
}

/* last child */

.main>div:last-child{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.main>div:last-child>img{
    width: 70%;
    border-radius: 10px;
    box-shadow: 0 0 10px 0.2px rgba(0, 0, 0, 0.219);
}

.info{
    position: absolute;
    bottom: 3rem;
    width: 80%;
    padding: 1rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    box-shadow: 0 0 10px 0.2px rgba(0, 0, 0, 0.219);
    border-radius: 5px;
}


.info>p:first-child{
    font-size: 1.5rem;
    font-weight: 700;
}
.info>p:last-child{
    color: rgba(0, 0, 0, 0.5);
}

/* Responsive Design */

@media (max-width: 768px) {
    .main {
        flex-direction: column;
        height: auto;
    }

    .main > div:first-child {
        width: 100%;
        height: 60vh;
    }

    .main > div:first-child > div {
        width: 80%;
        text-align: center;
    }

    .main > div:first-child > div > h2 {
        font-size: 3rem;
    }

    .main > div:first-child > div > p:first-child {
        font-size: 1.2rem;
    }

    .main > div:last-child {
        width: 100%;
        height: fit-content;
    }

    .main > div:last-child > img {
        width: 85%;
    }

    .info {
        width: 90%;
        bottom: 1.5rem;
    }
}

@media (max-width: 480px) {
    .main > div:first-child > div > h2 {
        font-size: 1.5rem;
    }

    .main > div:first-child > div > p:first-child {
        font-size: 1rem;
    }

    .info > p:first-child {
        font-size: 1.2rem;
    }
}