.main {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: row;
}

.main > div:first-child {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 10rem;
    animation: left linear;
    animation-timeline: scroll();
}

.main > div:first-child > p, 
.main > div:last-child > p {
    color: #666;
    line-height: 1.5; /* Added line-height for better readability */
}

.main > div:first-child > h2 {
    font-size: 3rem;
    margin-bottom: 1rem; /* Added margin for spacing */
    color: #333; /* Changed color for better contrast */
}

@keyframes left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
    opacity: 0.8;
  }
}

.socialIcon{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 3rem;
    margin: 2rem 0 0 0;
}

.socialIcon img{
    width: 3rem;
    cursor: pointer;
}

/* last child */

.main>div:last-child{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    animation: down linear;
    animation-timeline: scroll();
}

@keyframes down {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(110%);
  }
}

.main>div:last-child>img{
    width: 70%;
    border-radius: 10px;
    box-shadow: 0 0 10px 0.2px rgba(0, 0, 0, 0.219);
}

.info{
    position: absolute;
    bottom: 3rem;
    width: 80%;
    padding: 1rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    box-shadow: 0 0 10px 0.2px rgba(0, 0, 0, 0.219);
    border-radius: 5px;
}


.info>p:first-child{
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
}
.info>p:last-child{
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

/* Responsive Design */

@media (max-width: 768px) {
    .main {
        flex-direction: column;
        height: auto;
    }

    .main > div:first-child {
        width: 100%;
        height: 60vh;
        padding: 0 1rem;
    }

    .main > div:last-child {
        width: 100%;
        height: fit-content;
        animation: right linear;
        animation-timeline: scroll();
    }

    @keyframes right {
        from{
            transform: translateX(0);
        }
        to{
            transform: translateX(100%);
        }
    }

    .main > div:last-child > img {
        width: 85%;
    }

    .info {
        width: 90%;
        bottom: 1.5rem;
    }

}