.skills{
    width: 100%;
    height: 100vh;
    display: flex;
}

.skills>h2{
    display: none;
}

.cardWrap {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    padding: 4rem;
    gap: 2rem;
}

.cards {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    transition: ease-in-out 0.2s;
}

.cards:hover {
    transform: scale(1.1);
    border-radius: 10px;
    box-shadow: 0 0 10px 0.5px rgba(0, 0, 0, 0.205);
    backdrop-filter: blur(1px);
}
.cards:active {
    transform: none;
}

.cards>img{
    width: 8rem;
}

.cards>h3{
    font-size: 2rem;
}

.cards>p{
    font-size: 0.9rem;
    font-weight: 400;
    color: #333;
    padding: 0.2rem 0.5rem;
    border: 1px solid;
    border-radius: 5px;
    cursor: pointer;
}

.showing {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.showing>h2{
    font-size: 3rem;
}

.showing>.cardWrap{
    all: unset;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.showing>.cardWrap>.cards{
    display: none;
    cursor: auto;
    box-shadow: 0 0 10px 0.5px rgba(0, 0, 0, 0.200);
    border-radius: 5px;
    backdrop-filter: blur(5px);
}

.showing>.cardWrap>.cards:hover{
    transform: unset;
}

.showing>.cardWrap>.cards>p{
    border: none;
    font-size: 1rem;
}

@media screen and (max-width:700px) {
    .skills {
        display: flex;
        flex-direction: column-reverse;
    }

    .skills>h2 {
        font-size: 2rem;
        text-align: center;
    }

    .cardWrap {
        width: 100%;
        padding: 1rem;
        height: fit-content;
        overflow-x: scroll;
        overflow-y: hidden;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
    }

    .showing {
        width: 100%;
        height: 50vh;
        text-align: center;
    }

    .showing>h2{
        display: none;
    }
}